/* Project description styles */
.accurate-weaponry-text {
    color: var(--text-color);
    text-align: center;
    padding: 10% 0px;
    margin: 0px;
}

.twod-platformer-text {
    color: var(--text-color);
    text-align: center;
    padding: 10% 0px;
    margin: 0px;
}

.soul-burden-text {
    color: var(--text-color);
    text-align: center;
    padding: 10% 0px;
    margin: 0px;
}

.brain-rot-text {
    color: var(--text-color);
    text-align: center;
    padding: 10% 0px;
    margin: 0px;
}

.marine-training-simulator-text {
    color: var(--text-color);
    text-align: center;
    padding: 10% 0px;
    margin: 0px;
}

.first-rigging-text {
    color: var(--text-color);
    text-align: center;
    padding: 10% 0px;
    margin: 0px;
}

.first-22-years-text {
    color: var(--text-color);
    text-align: center;
    padding: 10% 0px;
    margin: 0px;
}

.ammonite-text {
    color: var(--text-color);
    text-align: center;
    padding: 10% 0px;
    margin: 0px;
}
